
<section class="about-me">
  <h1 class="about-me-main-title">Обо мне</h1>
  <div class="container">
    <div class="left-block">
      <h2 class="left-title">Боголепова Надежда</h2>
      <div class="left-second-title">Врач-косметолог, дерматолог, гинеколог
        <br><span>с более чем 20-летним опытом работы</span></div>
      <div class="divider"></div>
      <div class="left-text">
        Моя миссия — помогать женщинам выглядеть и чувствовать себя прекрасно в любом возрасте.
        В своей работе я использую только проверенные и эффективные методики, основанные на научных исследованиях и моем многолетнем опыте.
        Я с радостью помогу вам раскрыть вашу природную красоту и сохранить здоровье.
        Запишитесь на консультацию, и мы вместе подберем индивидуальный план процедур, который поможет вам достичь желаемого результата.
      </div>
    </div>
    <div class="right-block">
      <img src="../../../../../../../../../assets/img/aboutme.jpg" alt="Dr photo">
    </div>
  </div>
</section>
<section class="education">
  <div class="container">
    <h2 class="my-diploma">Мои дипломы</h2>
    <div class="education-slider" id="education-slider">
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip3.jpg"><img class="slider-img" src="../../../assets/img/dip3.jpg"
                                                            alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip4.jpg"><img class="slider-img" src="../../../assets/img/dip4.jpg"
                                                            alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip5.jpg"><img class="slider-img" src="../../../assets/img/dip5.jpg"
                                                            alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip6.jpg"><img class="slider-img" src="../../../assets/img/dip6.jpg"
                                                            alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip8.jpg"><img class="slider-img" src="../../../assets/img/dip8.jpg"
                                                            alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip12.jpg"><img class="slider-img" src="../../../assets/img/dip12.jpg"
                                                             alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip13.jpg"><img class="slider-img" src="../../../assets/img/dip13.jpg"
                                                             alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip15.jpg"><img class="slider-img" src="../../../assets/img/dip15.jpg"
                                                             alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip16.jpg"><img class="slider-img" src="../../../assets/img/dip16.jpg"
                                                             alt="diploma"></a>
      </div>
      <div class="education-item">
        <a class="popup" href="../../../assets/img/dip17.jpg"><img class="slider-img" src="../../../assets/img/dip17.jpg"
                                                             alt="diploma"></a>
      </div>
    </div>
    <div class="second-text">Нажав на фото можете посмотреть его в полный экран</div>
  </div>
</section>
