//@font-face {
//  font-family: 'Romul';
//  src: url("../assets/fonts/romul.ttf");
//}
//@font-face {
//  font-family: 'Manrope';
//  src: url("../assets/fonts/Manrope.ttf");
//}
.second-header {
  padding: 15px;
  background-color: #FFEDD2;
  border-bottom: 1px solid #294122;
}
.second-header .container {
  display: flex;
  align-items: center;
}
.second-header .container .menu-list {
  margin: 0 auto;
}
.this-page {
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: 489px;
  justify-content: space-between;
}
.this-item a {
  text-decoration: none;
  font-size: 16px;
  color: #294122;
}
.this-item a:hover {
  color: #212121;
}
.this-item a:hover {
  border-bottom: 1px solid #294122;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 3;
}
.dropdown-menu li {
  padding: 10px 20px;
  white-space: nowrap;
}
.this-item.dropdown:hover .dropdown-menu {
  display: block;
}
.services {
  padding: 80px 0 20px 0;
  background-color: #FFEDD2;
}
.services .container {
  max-width: 1200px;
}
.first-service,
.second-service,
.third-service {
  margin-bottom: 100px;
}
.service-title {
  text-align: center;
  font-family: "Romul", sans-serif;
  font-size: 26px;
  margin-bottom: 40px;
  color: #294122;
}
.procedures {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
}
.procedure-card {
  border: 2px solid #294122;
  border-radius: 8px;
  padding: 16px;
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.3s;
  cursor: pointer;
  color: #294122;
}
.procedure-card:hover {
  background-color: #294122;
  color: #ffeebb;
}
.hidden-block {
  display: none;
}
.card-title {
  font-size: 25px;
  margin: 10px 0;
}
.card-description {
  color: #000000;
  font-size: 16px;
}
.card-description b {
  margin: 5px 0;
}
.text-list li {
  margin-left: 22px;
  margin-bottom: 5px;
}
.second-service .card-title {
  font-size: 22px;
}
.works {
  padding-bottom: 80px;
  background-color: #FFEDD2;
}
.works-title {
  text-align: center;
  font-size: 26px;
  font-family: "Romul", sans-serif;
  margin-bottom: 50px;
  color: #294122;
}
.works-slider {
  width: 930px;
  margin: 0 auto;
}
.slick-initialized .slick-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.works-item {
  gap: 15px;
}
.works-item img {
  width: 300px;
  height: 300px;
  gap: 20px;
}
.custom-next svg,
.custom-prev svg {
  width: 50px;
  height: 50px;
  fill: #294122;
}
.custom-next,
.custom-prev {
  position: absolute;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  bottom: 41%;
}
.custom-next {
  right: -50px;
}
.custom-prev {
  left: -50px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  height: 75vh;
  margin: 10vh auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  text-align: center;
  position: relative;
  scroll-behavior: auto;
  overflow: auto;
  scroll-padding-left: 3px;
  scrollbar-color: #9f9f9f #dadada;
}
.close-service {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.close-service svg {
  width: 30px;
  height: 30px;
}
.modal-title {
  text-align: center;
  font-size: 26px;
  margin-top: 30px;
}
.modal-description {
  font-size: 18px;
  color: #333;
  padding: 30px;
  text-align: justify;
  line-height: 1.5;
}
.modal-description h3 {
  margin: 10px 0;
}
.hidden-slider {
  display: none;
  margin: 0 auto;
  width: 800px;
}
.hidden-item img {
  width: 370px;
  margin: 15px;
}

@media screen and (max-width: 1050px) {
  .works-slider {
    display: none;
  }
  .hidden-slider {
    display: block;
  }
}
@media screen and (max-width: 910px) {
  .hidden-slider {
    width: 600px;
  }
  .hidden-item img {
    width: 280px;
    margin: 10px;
  }
  .custom-next,
  .custom-prev {
    bottom: 32%;
  }
  .custom-next {
    right: -30px;
  }
}
@media screen and (max-width: 690px) {
  .hidden-item img {
    width: 450px;
    margin: 0;
  }
  .hidden-slider {
    width: 450px;
  }
  .custom-next {
    right: -50px;
  }
}
@media screen and (max-width: 590px) {
  .this-page {
    flex-direction: row;
    width: unset;
  }
  .this-item {
    margin: 10px;
  }
  .this-item a {
    font-size: 16px;
  }
}
@media screen and (max-width: 560px) {
  .hidden-item img {
    width: 350px;
  }
  .hidden-slider {
    width: 350px;
  }
  .works-title {
    font-size: 22px;
  }
  .service-title {
    font-size: 22px;
  }
  .modal-content {
    height: 70vh;
  }
}
@media screen and (max-width: 520px) {
  .dropdown-menu {
    left: -40px;
  }
}
@media screen and (max-width: 450px) {
  .custom-next svg,
  .custom-prev svg {
    width: 40px;
    height: 40px;
  }
  .custom-next {
    right: -30px;
  }
  .custom-prev {
    left: -30px;
  }
  .modal-description {
    font-size: 16px;
    color: #333;
    padding: 0;
    text-align: justify;
    line-height: 1.3;
  }
}
@media screen and (max-width: 410px) {
  .hidden-item img {
    width: 270px;
  }
  .hidden-slider {
    width: 270px;
  }
}
@media screen and (max-width: 400px) {
  .procedure-card {
    width: 270px;
    padding: 10px;
  }
  .card-title {
    font-size: 22px;
  }
}


