.politics-block {
  padding: 80px 0;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Romul", sans-serif;
  margin-bottom: 40px;
  width: 1000px;
}
.text {
  width: 1000px;
  margin: 0 auto;
}
.main-politics {
  margin-bottom: 10px;
  font-size: 18px;
}
.secondary-politics {
  margin-bottom: 10px;
  font-size: 17px;
  text-align: justify;
}
.secondary-politics ul {
  margin-left: 20px;
}


@media screen and (max-width: 1024px) {
  h1 {
    width: 700px;
    font-size: 26px;
    margin: 0 auto 40px auto;
  }
  .text {
    width: 700px;
  }
  .main-politics {
    font-size: 17px;
  }
  .secondary-politics {
    font-size: 16px;
  }
}
@media screen and (max-width: 710px) {
  h1 {
    width: 450px;
    font-size: 20px;
  }
  .text {
    width: 450px;
  }
  .main-politics {
    font-size: 15px;
  }
  .secondary-politics {
    font-size: 13px;
  }
}
@media screen and (max-width: 460px) {
  .politics-block {
    padding: 40px 0;
  }
  h1 {
    width: 280px;
    font-size: 18px;
  }
  .text {
    width: 300px;
  }
  .main-politics {
    font-size: 14px;
  }
  .secondary-politics {
    font-size: 12px;
  }
}
