//@use "assets/styles/fonts";

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
body {
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
