header {
  padding: 22px 0;
  background-color: #294122;
}
header .container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.menu-icon {
  display: none;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo img {
  width: 50px;
  height: 45px;
}
.navigation {
  margin-left: 270px;
}
.menu-list {
  list-style: none;
  display: flex;
  width: 489px;
  justify-content: space-between;
  z-index: 1000;
}

.menu-number {
  display:none;

}

.politics {
  text-align: center;
}

.menu-contacts-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffeebb;
}
.menu-contacts-item svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.menu-item a {
  text-decoration: none;
  font-size: 16px;
  color: #ffeebb;
}
.menu-item a:hover {
  border-bottom: 1px solid #ffeebb;
}
.close {
  display: none;
  width: 25px;
  height: 30px;
  fill: #ffeebb;
}

@media screen and (max-width: 1140px) {
  .logo {
    padding-left: 15px;
  }
}

@media screen and (max-width: 890px) {
  .navigation {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 590px) {
  .navigation {
    position: relative;
    margin-right: 20px;
  }
  .menu {
    z-index: 5;
    display: flex;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #294122;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
  }
  .menu-list {
    flex-direction: column;
    align-items: center;
    width: auto;
    position: fixed;
    top: 100px;
  }
  .menu-item {
    margin-bottom: 20px;
  }
  .menu-item a {
    font-size: 20px;
  }

  .menu-number {
    display: block;
  }
  .menu-contacts-text {
    font-size: 20px;
  }
  .menu-contacts-item svg {
    width: 30px;
    height: 30px;
  }
  .menu-icon {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
